{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
<div class="ui stackable grid">
    <div class="twelve wide column">
        <div class="ui segment">

            <div class="form-group row">
                <label class="col-md-4"> Nom </label>
                {{ form_widget(form.nom, {'attr': {'class': 'col-md-8 form-control'}}) }}
            </div>

            <div class="form-group row">
                <label class="col-md-4"> Réference Piece  </label>
                {{ form_widget(form.refPiece, {'attr': {'class': 'col-md-8 form-control'}}) }}
            </div>
            <div class="form-group row">
                <label class="col-md-4"> Prix </label>
                {{ form_widget(form.prix, {'attr': {'class': 'col-md-8 form-control'}}) }}
            </div>
            <div class="form-group row">
                <label class="col-md-4"> Quantité Disponible </label>
                {{ form_widget(form.quantityDisponible, {'attr': {'class': 'col-md-8 form-control'}}) }}
            </div>

        </div>
    </div>
</div>
    {{ form_end(form) }}
{% endblock %}