{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<br>
<br>
<br>
    <table class="table table-striped dataTable table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Ref Piece</th>
            <th>Prix Piece</th>
        </tr>
        </thead>
        <tbody>
        {% for piece in pieceDetaches %}
            <tr class="text-center">

                <td>{{ piece.id }}</td>  <td>{{ piece.nom }}</td>  <td>{{ piece.prix }} €</td> <td>{{ piece.prix }} €</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}